.who {
  font-family: "Cinzel Decorative";

  color: white;
  font-size: 20px;
  left: 40px;
  padding: 15px;
  /* text-decoration: underline; */
}

.navbar-brand {
  font-family: "Cinzel Decorative";
  font-size: 55px;
  font-weight: 20px;
  padding-top: 10px;
  color: dodgerblue;
  margin-left: 12px;
}

.material-icons {
  position: relative;
  color: dodgerblue;
  font-size: 100px;
  display: block;
  text-align: center;
}

.infor {
  font-family: "Kaushan Script";
  color: dodgerblue;
  font-size: 45px;
  text-align: center;
}

#singlebutton {
  /* text-align: center; */
  /* margin:0px auto;  */
  /* margin-top: 2%; */
  font-family: "Kaushan Script";

  padding: 10px;
  margin: 15px;
}

.viddywell {
  padding-top: 20px;
  /* margin-left: 15%;  */
  margin: auto;
  height: auto;
  display: block;
  padding-bottom: 25px;
}

#maybe {
  display: none;
}

@media only screen and (max-width: 600px) {
  .viddywell {
    display: none;
  }
  #maybe {
    display: block;
    height: auto;
    width: 100%;
  }

  .material-icons {
    position: relative;
    color: dodgerblue;
    font-size: 55px;
    display: block;
    text-align: center;
    margin-top: 40px;
  }

  .infor {
    color: dodgerblue;
    font-size: 20px;
    text-align: center;
  }

  .navbar-brand {
    display: block;
    font-family: "Cinzel Decorative";
    text-align: center;
    font-size: 40px;
    font-weight: 10px;
    padding-top: 10px;
    padding-left: 19%;
    color: dodgerblue;
  }

  /* .nav {
    margin-left: 4%;
    margin-top: 10px;
    border: 3px solid dodgerblue;
    border-radius: 5px;
  } */
  /* Just added 3/12 test, it worked then on mystory */
  .nav-link {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 8px;
    padding: 11px;
    text-decoration: underline;
  }

  .nav {
    margin-left: 18%;
    /* margin-top: 10px; */
    border: 3px solid dodgerblue;
    border-radius: 5px;
  }
}
